body {
	font-size: 14px;
	line-height: 24px;
	color: #000;
	font-weight: normal;
	font-family: "PT Sans Narrow", Arial, sans-serif;
}

h1 {
	font-size: 30px;
	line-height: 42px;
	color: #000;
	margin: 0;
}

h2 {
	font-size: 24px;
	line-height: 30px;
	color: #000;
	margin: 0;
}

img {
	border: 0;
	display: block;
}

p {
	margin: 0;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	outline: 1px solid blue;
}

.main_header .container{
	padding-top: 15px;
	padding-bottom: 17px;
}

.logo {
	width: 111px;
	float: left;

}
.main_navigation {
	float: left;
	margin-left: 40px;
}

.user_block {
	float: right;
	margin-right: 15px;
}

.navigation_list {
	padding: 0;
	margin: 0;
	font-size: 0;
}

.navigation_list li {
	display: inline-block;
	margin-right: 40px;
	font-size: 14px;
	line-height: 24px;
	vertical-align: top;
}

main {
	padding-top: 28px;
	outline: 1px solid blue;
}
					/*	ХЛЕБНЫЕ КРОШКИ	*/
.breadcrumbs {
	margin-bottom: 55px;
	outline: 1px solid blue;
}

.breadcrumbs_list {
	font-size: 0;
}

.breadcrumbs_item {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 24px;
	margin-right: 40px;
}

.left_col {
	width: 220px;
	float: left;
	outline: 1px solid blue;
}

.filter {
	outline: 1px solid blue;
}
							/*	КАТАЛОГ	*/

.right_col {
	width: 700px;
	margin-left: 20px;
	float: right;
}

.items {
	font-size: 0;
	margin-bottom: 45px;
	outline: 1px solid blue;
}
.item {
	display: inline-block;
	width: 220px;
	vertical-align: bottom;
	margin-right: 20px;
	margin-bottom: 20px;
	outline: 1px solid blue;
}

.item:nth-child(3n) {
	margin-right: 0;
}

 .item a {
 	display: block;
 }

 .item_firm {
 	display: block;
 	text-transform: uppercase;
 }

h3 {
	line-height: 18px;
}

.purchase {
	margin-bottom: 16px;
	font-size: 0;
	text-align: center;
}

.price,
a.btn_buy {
	display: inline-block;
	padding-top: 7px;
	padding-bottom: 17px;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
}

.price {
	width: 110px;
	background: #e5e5e5;
}

a.btn_buy {
	width: 80px;
	background: #000;
	color: #fff;
}
						/*	ПАГИНАЦИЯ	*/
.pagination {
	font-size: 0;
	outline: 1px solid blue;
}

ul.pagination_list {
	margin: 0;
	padding: 0;
}

.pagination_item {
	display: inline-block;
	vertical-align: top;
	margin-right: 7px;
	background: #000;
	outline: 1px solid blue;
}

.pagination_item a {
	display: block;
	font-size: 14px;
	line-height: 18px;
	padding: 16px 18px;
	color: #fff;
}
.active_page {
	display: block;
	font-size: 14px;
	line-height: 18px;
	padding: 16px 18px;
	background: #fff;
	color: #000;
}
						/*	ФУТЕР	*/
.main_footer {
	margin-top: 50px;
	padding-bottom: 42px;
}

.footer_contacts {
	width: 380px;
	float: left;
	outline: 1px solid blue;
	margin-right: 20px;
}

.footer_social {
	width: 300px;
	float: left;
	outline: 1px solid blue;
}

.footer_copyright {
	width: 140px;
	float: right;
	outline: 1px solid blue;
}

					/*	ФОТО ТОВАРА	*/
.item_fotos {
	width: 460px;
	float: left;
	margin-right: 40px;
	outline: 1px solid red;
}

.main_foto {
	margin-bottom: 20px;
	outline: 1px solid blue;
}
.small_fotos {
	font-size: 0;
}
.small_fotos a{
	display: inline-block;
	width: 140px;
	margin-right: 20px;
	outline: 1px solid blue;
	font-size: 14px;
	line-height: 18px;
	vertical-align: top;
}

.small_fotos a:last-child {
	margin-right: 0;
}
					/*	ОПИСАНИЕ ТОВАРА*/
.item_descript {
	width: 390px;
	float: right;
	outline: 1px solid blue;
}

.service_info {
	margin-bottom: 35px;
}

.presence_item {
	float: left;
	width: 150px;
	outline: 1px solid blue;
}

.code_item {
	float: right;
	width: 220px;
	text-align: right;
	outline: 1px solid blue;
}

.descript_text {
	margin-bottom: 40px;
}

.item_descript .purchase {
	text-align: left;
	margin-bottom: 60px;
}

.set_list {
	margin-left: 20px;
}

						/*	ПСЕВДОРАСПОРКА	*/
.clearfix {
	content: "";
	display: table;
	clear: both;
}



